'menu': [
  {
    'label': 'Workspace'
    'submenu': [
        { 'label': 'Switch Workspace', 'command': 'workspace-manager:switch-workspace' }
        { 'label': 'Save Workspace', 'command': 'workspace-manager:save-workspace' }
    ]
  }
]
