'.chart':
  'm': 'charts:change-market'
  'i': 'charts:add-indicator'
  'g': 'charts:change-granularity'
  't': 'charts:change-type'
  'd': 'charts:add-drawing'
  '[': 'charts:decrease-granularity'
  ']': 'charts:increase-granularity'

'.platform-darwin .chart':
  'cmd-=': 'charts:zoom-in'
  'cmd-+': 'charts:zoom-in'
  'cmd--': 'charts:zoom-out'
  'cmd-_': 'charts:zoom-out'

'.platform-win32 .chart, .platform-linux .chart':
  'ctrl-=': 'charts:zoom-in'
  'ctrl-+': 'charts:zoom-in'
  'ctrl--': 'charts:zoom-out'
  'ctrl-_': 'charts:zoom-out'