'.platform-darwin':
  'cmd-k': 'workspace-manager:switch-workspace'
  'cmd-s': 'workspace-manager:save-workspace'

'.platform-win32, .platform-linux':
  'ctrl-k': 'workspace-manager:switch-workspace'
  'ctrl-s': 'workspace-manager:save-workspace'